html{
    background-image: url("./resources/imagens/indexBackgroundImage.jpg");
}

body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: green;
    color: black;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 400px;
    height: 400px;
}


.classBotaoPause , .classBotaoPlay{
    font-size: 50px;
    cursor: pointer;
}

.classSetas {
    font-size: 40px;
    cursor: pointer;
}

.classBotaoPause {
    display: none;
}

.classNomeMusicaENomeArtista {
    width: 400px;
}

h2 {
    margin-bottom: 5px;
    font-size: 20px;
}

.classDuracaoMusica {
    width: 400px;
    margin-top: 25px;
}


.classTempo {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.classBarraDuracao {
    width: 400px;
    height: 6px;
    border: 1px solid blue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    height: 6px;
    width: 0;
    background-color: #333;
}

.classPonto {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin-left: -10px;
}



.classPlayer {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}


